
#Content {
	min-height: -webkit-fill-available;
  height: auto;
  min-width: 1024px;
  width: 100%;
  position: static;
  top: 0;
  left: 0;
  border: 10px;
  border-color: black;
  background-image: url('parchment.jpeg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  padding: 25px 0;
	text-align: center;
}

h2 {
	font: 400 100px/1.2 'Merienda One', Helvetica, sans-serif;
	  color: rgba(0,0,0,0.7);
	  text-shadow: 3px 3px 3px #fff;
		margin: 30px
}

span {
	font: 400 25px/1.2 'Merienda One', Helvetica, sans-serif;
	  color: rgba(0,0,0,0.7);
	  text-shadow: 3px 3px 3px #fff;
}

#textList {
	margin: 15px;
}
